{% extends 'base.html.twig' %}

{% block pagecontent %}
    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                        <h1>TAMUSGEN TRAVEL & TOURS</h1>

                        <h3><img src = "{{asset('img/iata.png')}}" /></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <br /><br />
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12 col-sm-1 col-md-2 col-lg-3'>
            </div>
            <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Kano Office</h3>
                            </div>
                            <div class="panel-body">
                                No 4/7 Bompai Road,<br />
                                P.O.Box 10381<br />
                                Kano, Nigeria.<br />
                                +23464431823, +2348022551111<br />
                                tamusgentravels@yahoo.co.uk<br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3'>
                <h4>Got some questions? </h4>
                {{form(msgfrm)}}
                <div class="progress" id="sendprogress" style="display:none;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
                <div class="modal fade bs-example-modal-sm" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Alert</h4>
                            </div>
                            <div class="modal-body" id="modalcontent"></div>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-1 col-md-2 col-lg-3'>
            </div>
        </div>
    </div>
    <!-- /.intro-header -->  
{% endblock %}
{% block js %}
    {{parent()}}
    <script type="text/javascript">
        $(document).on("click", "#messagefrm_send", function () {
            //alert("clicked!")
            
            $("#sendprogress").show();
            $.ajax({
                url: '{{path("sendmessage")}}',
                method: 'POST',
                data: $("#msgfrm").serialize()
            }).done(function (msg) {
                $("#sendprogress").hide();
                if (msg == "1") {
                    $("#modalcontent").html("Your message has been sent!");
                    $("#mymodal").modal();
                    $('#msgfrm').trigger("reset");
                } else {
                    $("#modalcontent").html("Unsuccessfull! Check form input and try again");
                    $("#mymodal").modal();
                }
            });
            return false;
        });
    </script>
{% endblock %}